.right-panel{

    width:100%;

    color:white;

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:20px;

}

.right-panel h2{

    font-size:18px;

    letter-spacing:2px;

    border-bottom:1px solid rgba(255,255,255,.08);

    width:100%;

    text-align:center;

    padding-bottom:12px;

}