.drum-kit{

    position:absolute;

    left:50%;

    bottom:-200px;

    transform:translateX(-50%);

    width:min(870px,75vw);

    z-index:20;

    user-select:none;

}

.drum-kit-image{

    display:block;

    width:100%;

    height:auto;

    pointer-events:none;

    user-select:none;

    filter:
        drop-shadow(0 18px 35px rgba(0,0,0,.45));

}