.beat-ripple{

    position:fixed;

    width:28px;

    height:28px;

    border-radius:50%;

    pointer-events:none;

    transform:translate(-50%,-50%);

    border:3px solid var(--ripple-color);

    animation:ripple .55s ease-out forwards;

    z-index:999;

}

@keyframes ripple{

    0%{

        width:18px;
        height:18px;

        opacity:.9;

    }

    100%{

        width:180px;
        height:180px;

        opacity:0;

    }

}