.drum-hit{

    position:absolute;

    inset:0;

    pointer-events:none;

}

/* animation class */

.drum-hit::after{

    content:"";

    position:absolute;

    inset:0;

    animation:flash .15s ease;

}

@keyframes flash{

    0%{

        opacity:.45;

    }

    100%{

        opacity:0;

    }

}